# Dependencies
node_modules/

# Environment files
.env
.env.local

# Debug files
debug_*.html
debug_*.png
*.log
*.json
!package.json
!yarn.lock
!Booking_Scraper.postman_collection.json

# Output files
out.json

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
Booking_Scraper.postman_collection.json
API_USAGE.md
NESTJS_INTEGRATION.md
DEPLOY.md
./DEPLOY.md
